{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/fondo.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Joana</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/joa.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Joana Uribe</h2>   
        <p>Nacida en el Estado de México, el 24 de junio de 2003</p>
        <p>He trabajado en DSGS por 1 año( 2023-2024). Desde enero de 2024 hasta la fecha he regresado a estudiar para terminar la ingenieria.</p>
    </div>
</div>
{% endblock %}
