{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Como desarrolladora apasionada por la innovación, mi enfoque va más allá de la creación de soluciones tecnológicas. Me especializo en el diseño y desarrollo de aplicaciones web y móviles, ofreciendo servicios de alta calidad en la creación de interfaces de usuario intuitivas y eficientes. Mi objetivo es proporcionar una experiencia de usuario excepcional a través de la integración de tecnologías modernas y un diseño funcional.</p> <p>Mi carrera está orientada a entregar soluciones escalables, seguras y confiables, con un fuerte enfoque en el desarrollo ágil y la mejora continua. Trabajo para transformar ideas en productos digitales que no solo satisfacen las necesidades de los clientes, sino que también superan sus expectativas.</p>
        <br>
        <p><b>Teléfono:</b> +52 729 119 3146 </p>
        <p><b>Honorarios:</b> 800 MX/h (precio base)</p>
    </div>
</div>
{% endblock %}

